@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  min-height: calc(100vh - 176px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
